// main screen

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 0;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
    "h h"
    "n b";
}

.nav-bar {
    grid-area: n;
}

.nav-bar p {
    cursor: pointer;
}

.header {
    grid-area: h;
}

.header button{
    float: right;
    margin: 20px;
}

.body {
    grid-area: b;
    padding: 30px;
}

// story screen

.story-body {
    display: grid;
    grid-template-rows: 8fr 1fr;
    grid-template-areas:
    "s"
    "i";
}

#story-screen {
    grid-area: s;
    border: 1px solid black;
    margin-bottom: 30px;
}

#add-sentence-form {
    grid-area: i;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}