// home page

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 0;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
    "n h"
    "n b";
    background-color: #dff1f7;
}

.nav-bar {
    grid-area: n;
    padding-top: 60px;
}

.nav-item {
    width: 80%;
    margin-top: 30px;
}

.header {
    grid-area: h;
    display: flex;
    justify-content: flex-end;
}

.header-item{
    margin: 20px;
}

.modal input {
    width: 80%;
}

.body {
    grid-area: b;
}

.body h1 {
    margin-bottom: 40px;
}

// my stories

.comics {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    border-bottom: 2px solid black;
}

.box {
    height: 250px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgb(141, 136, 136);
    font-weight: bold;
    font-size: 23px;
    margin: 3px;
}

// story screen

#story-container {
    background-color: #dff1f7;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 6fr 1fr;
    grid-template-areas:
    "ss sn"
    "si sn";
    grid-column-gap: 20px;
    height: 85vh;
}

#story-screen {
    grid-area: ss;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
}

#story-screen::-webkit-scrollbar {
    width: 1em;
}
 
#story-screen::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#story-screen::-webkit-scrollbar-thumb {
  background-color: #cae1e9; //darkgrey;
  outline: 1px solid #dff1f7;// slategrey;
}

#story-nav-bar {
    grid-area: sn;
    display: flex;
    flex-direction: column;
}

.story-btn {
    width: 100px;
    margin: 10px;
}

#add-sentence-form {
    grid-area: si;
}

#sentence-input {
    width: 92%;
    line-height: 2rem;
}

#send-sentence {
    height: 40px;
}

.user-sentence {
    margin: 10px;
}

.sentence {
    font-size: 20px;
    display: inline-block;
    width: 50%;
}

.sentence-image {
    width: 20%;
    max-height: 130px;
    object-fit: cover;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@media (min-width: 992px) {
    .container {
        max-width: 100vw;
    }
}